<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headerfiles">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Pawsitive Quotes</title>
    </th:block>
</head>
<body>
    <header th:fragment="header">
		<img src="/image/paws.png" alt="Upside Down Paw" class="paw-top-left">
        <nav>
            <div class="logo">
				<img src="/image/paws.png" alt="Paw Left" class="paw-left">
				PawsitiveQuotes
				<img src="/image/paws.png" alt="Paw Right" class="paw-right">
			</div>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/users}">Utilisateurs</a></li>
            </ul>
        </nav>
		<img src="/image/bear.png" alt="Bear" class="bear-image"/>
    </header>
</body>
</html>
