<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: headerfiles"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    
    <main>
        <div class="bear-image"></div>
        <h2>Liste des Utilisateurs</h2>
        <ul class="user-list">
            <li th:each="user : ${users}">
                <a th:href="@{/conversations/{id}(id=${user.id})}" th:text="${user.name}"></a>
            </li>
        </ul>
    </main>
</body>
</html>
